body{background-color: white}

.switch{
    width:100px;
    height: 60px;
    border-radius: 30px;
    background-color: grey; 
    position: relative;
    cursor:pointer;
    transition: background-color 0.3s ease;
}
.thumb{
    width: 26px;
    height: 26px;
    background:red;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: transform 0.3s ease;
}

.on{
    background-color: aqua;

}
.off{
    background-color: rgb(33, 189, 40);

}

 .on .thumb{
    transform: translateX(30px);
}